 
    <div class="col s12 m7">
      <div class="card" style="border-radius:20px">
      <div class="card-image">
        <img class="circle" src="{{ .Params.Thumbnail }}">
        <span class="card-title  {{ .Params.TitleColor }}">{{ .Params.Title}}</span>
        <a href="{{ .RelPermalink }}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">send</i></a> 
      </div>
      <div class="card-content grey darken-4">
          <b><p class="text-flow white-text">{{ .Params.ShortText }}</div></p></b>
      </div>
    </div>
